.announcement-status {
	color:#888;
	padding-top: 10px;
}

.width-50 {
	width: 50%
}

.templatemo-delete-btn {
	border: 1px solid #ddd;
	border-radius: 3px;
	color: red;
	padding: 5px 15px;
	transition: all 0.3s ease;
}

.templatemo-delete-btn:hover, .templatemo-add-btn:hover {
	background-color: #39ADB4;
	border: 1px solid #39ADB4;
	color: white;
}

.templatemo-add-btn {
	border: 1px solid #ddd;
	border-radius: 3px;
	color: green;
	padding: 5px 15px;
	transition: all 0.3s ease;
}
